<!-- templates/add_pc_record.html -->
{% extends 'base.html' %}

{% block title %}Добавление записи PC{% endblock %}

{% block content %}
    <h1>Добавление записи PC</h1>
    <form method="post" action="{{ url_for('add_pc_record') }}">
        <label for="reg_num">Регистрационный номер:</label>
        <input type="text" id="reg_num" name="reg_num" required><br>

        <label for="processor_type">Тип процессора:</label>
        <input type="text" id="processor_type" name="processor_type" required><br>

        <label for="disk_size">Размер диска:</label>
        <input type="text" id="disk_size" name="disk_size" required><br>

        <label for="memory_size">Размер памяти:</label>
        <select id="memory_size" name="memory_size">
            {% for option in memory_set_options %}
                <option value="{{ option[0] }}">{{ option[1] }}</option>
            {% endfor %}
        </select><br>

        <button type="submit">Добавить запись</button>
    </form>
{% endblock %}
