<!-- templates/login.html -->

{% extends 'base.html' %}

{% block title %}Авторизация{% endblock %}

{% block content %}
    <h1>Авторизация</h1>

    <form method="post" action="{{ url_for('login') }}">
        <label for="username">Логин:</label>
        <input type="text" id="username" name="username" required>
        <br>
        <label for="password">Пароль:</label>
        <input type="password" id="password" name="password" required>
        <br>
        <button type="submit">Войти</button>
    </form>

    <p>Еще не зарегистрированы? <a href="{{ url_for('registration') }}">Зарегистрируйтесь</a></p>
{% endblock %}
